:root {
    --lightGray: #4E5F68;
    --gray: #3B4850;
    --blue: #4896FF;
    --pink: #dc54f7;
    --yellow: #ecf545;
    --white: #FFFFFF;
    --gameText: Courier;
}

.img {
    text-align: center;
}

body {
    background-color: var(--gray);
}

.weaponText {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--white);
    font-family: var(--gameText);
    font-size: 37px;
}

#gameMain {
    font-family: var(--gameText);
    margin: auto;
    max-width: 700px;
    width: 100%;
    border: 5px solid;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3rem;
    background-color: var(--lightGray);
    text-align: center;
}

#playerText {
    color: var(--blue);
    font-size: xxx-large;
}

#computerText {
    color: var(--pink);
    font-size: xxx-large;
}

#resultText {
    color: var(--yellow);
    font-size: xxx-large;
}

#rock {
    font-size:  30px;
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    animation: glow1 2.0s ease-in-out infinite alternate;
}

#paper {
    font-size:  30px;
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    animation: glow2 2.0s ease-in-out infinite alternate;
}

#scissors {
    font-size:  30px;
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    animation: glow3 2.0s ease-in-out infinite alternate;
}

.choice:hover {
    transform: scale(1.17);
    opacity: 0.8;
}
.choice:focus {
    outline: none;
}

@-webkit-keyframes glow1 {
    from {
        text-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #dc54f7, 0 0 15px #dc54f7, 0 0 15px #dc54f7, 0 0 15px #dc54f7, 0 0 15px #dc54f7;
    }
}

@-webkit-keyframes glow2 {
    from {
        text-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #4896FF, 0 0 15px #4896FF, 0 0 15px #4896FF, 0 0 15px #4896FF, 0 0 15px #4896FF;
    }
}

@-webkit-keyframes glow3 {
    from {
        text-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #ecf545, 0 0 15px #ecf545, 0 0 15px #ecf545, 0 0 15px #ecf545, 0 0 15px #ecf545;
    }
}