:root {
    --blue: #0058F3;
    --lightblue: #00F3E8;
    --light: #fff;
    --header: Arial; 
}

header {
    padding-top: 2.5%;
    text-align: center;
    font-size: 4.0rem;
    font-family: var(--header);
    position: center;
    font-weight: 1000;
    color: var(--light)
}

body {
    background-image: linear-gradient(to right , var(--blue),
    var(--lightblue));
}