@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="img">
    <img src="img/RPS.png">
</div>

<div id="gameMain">
    <h1 class="gameText" id="playerText">Player: </h1>
    <h1 class="gameText" id="computerText">Opponent: </h1>
    <h1 class="gameText" id="resultText">Result: </h1>

    <h3 class="weaponText">SELECT YOUR WEAPON!</h3>
    <button class="choice" id="rock">ROCK</button>
    <button class="choice" id="paper">PAPER</button>
    <button class="choice" id="scissors">SCISSORS</button>
</div>    