@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="gameMain">
    <h1 class="gameText" id="playerText">Player: </h1>
    <h1 class="gameText" id="computerText">Opponent: </h1>
    <h1 class="gameText" id="resultText">Result: </h1>
    
    <h3 class="weaponText">Select your weapon!</h3>
    <button class="choice">ROCK</button>
    <button class="choice">PAPER</button>
    <button class="choice">SCISSORS</button>
</div>    